# COM (Component Object Model) interface for Python
comtypes==1.4.7

# GUI framework for Python
PyQt5==5.15.11

# Qt5 libraries for PyQt5
PyQt5-Qt5==5.15.2

# SIP extension for PyQt5 (Python and C++)
PyQt5_sip==12.15.0

# Access to Windows API from Python
pywin32==308

# GUI Automation for Windows applications
pywinauto==0.6.8

# Library for compatibility between Python 2 and 3 (often required by other packages)
six==1.16.0

# Tool for making executables
pyinstaller==6.3.0